<div style="background-color:darkblue"class="p-4 text-white">

  <h3>AGREGE DATOS NUEVOS</h3>

  <form action="/autos/add" method="POST">

  <div>
    <label for="marca">Escribe Una marca De Auto:</label>
    <input type="text" name="marca" placeholder="marca" id="marca" class="form-control rounded-0 bg-dark text-white" />
  </div>

  <div>
    <label for="modelo">Modelo:</label>
    <textarea name="modelo" placeholder="Modelo" id="modelo" class="form-control rounded-0 bg-dark text-white"></textarea>

  </div>
  <div>

    <label for="color">Color:</label>
    <textarea name="color" placeholder="color" id="color" class="form-control rounded-0 bg-dark text-white"></textarea>
  </div>

  <div>
    <label for="precio">Precio:</label>
    <textarea name="precio" placeholder="precio" id="precio" class="form-control rounded-0 bg-dark text-white"></textarea>
  </div>

   <button class="btn btn-danger btn-sm mt-2">Guardar</button>

</form>

</div>